.floating-top-bar {
  position: fixed;
  top: 20px;
  left: 50%;
  transform: translateX(-50%);
  width: 80%;
  background: black;
  padding: 10px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 2px 10px rgba(0,0,0,0.2);
  border-radius: 20px;
  z-index: 1000;
}

.floating-top-bar h1 {
  font-size: 40px;
  margin: 0;
  color:#4CAF50;
  font-weight:bold;
  text-align: center;
  flex-grow:1;
}

.icons span {
  margin-left: 20px;
  font-size: 20px;
  cursor: pointer;
  color: #fff;
}

.menu {
  font-size: 40px;
  font-weight: bold;
}

.highlight{
  color:red;
  font-weight:bold;
}

header a:hover{
  color:#cccccc;
  font-weight:bold;
}

.body{
    padding-top:70px;
    text-align: center;
    flex-grow:1;
}

.button {
  background-color: #4CAF50; /* Green */
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 20px; /* curved edges */
  cursor: pointer;
}

.button-1 {
  background-color: black; /* Green */
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 20px; /* curved edges */
  cursor: pointer;
}

img {
  border-radius: 20px; /* adjust value for more/less curve */
  height: 300px; width: 100%;
}

/*  img {
  border-radius: 50%;  makes image circular 
} */

.image-container {
  position: relative;         
}  

.image-text {
  position: absolute;
  border-radius: 20px;
  bottom: 0; /* position at bottom */
  left: 0;
  width: 95%;
  padding: 10px;
  background-color: rgba(0, 0, 0, 0.5); /* optional background */
  color: green;
  text-align: center;
}

.image-container img {
  height: 500px; /* adjust height */
  width: 100%; /* maintain full width */
}

image-text h1{
    margin:20;
}

video {
  width: 100%;
  height: 100vh;
  object-fit: cover;
}